.mission-statement {

  padding: 3rem 0;

  @include breakpoint(medium down) {
    padding: 1.2rem 0;
  }

  &__title {
    font-size: 3.2rem;
  }

  &__statement {
    border: none;
    font-size: 24px;
    font-family: $header-font-family;
    color: #04354c;

    @include breakpoint(medium down) {
      font-size: 18px;
    }
  }
}

.context {

  padding: 3rem 0;

  &__title {
    font-size: 3.2rem;

    @include breakpoint(medium down) {
      font-size: 2rem;
      text-align: center;
    }
  }

  &__statement {
    border: none;
    font-size: 24px;
    font-family: $header-font-family;
    color: #04354c;
  }
}