{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="grid-container">
  <div class="grid-x grid-padding-x align-center">
    <div class="cell large-7">
      <form{{ attributes }}>
        {{ children }}
      </form>
    </div>
  </div>
</div>

