@mixin chevron-arrow-down() {
  //font-family: 'FontAwesome';
  //content: "\f078";
  //display: block;
  //position: absolute;
  //top: 50%;
  //transform: translateY(-50%);
}

.menu.nested {
  margin-left: 0;
  border-left: 2px solid $white;
  background-color: map-get($de-color, 'secondary');
}

.dropdown.menu {
  .is-active {
    > a {
      color: $white;
    }
  }
}

.is-dropdown-submenu {
  border: 0;
  border-bottom: 1px solid $primary-color;
}


.is-dropdown-submenu-parent {
  //position:relative;
  //padding-right: 1.25rem !important;

  a .fa-chevron-down {
    margin-left: 10px;
  }

  &:hover {
    background-color: lighten(map-get($de-color, 'primary'), 10%);
  }

  .menu.nested {
    margin-left: -1px;
    border-left: 0;
    background-color: map-get($de-color, 'secondary');
  }

  .menu.vertical>li:hover {
    background-color: lighten(map-get($de-color, 'primary'), 10%);
  }
}

@include breakpoint(medium) {
  .dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after {
    display: none;
  }
}

.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after {
  // @include chevron-arrow-down();
  //right: 1.25rem;
}

.is-accordion-submenu-parent > a .fa-chevron-down {
  float: right;
  //position: relative;
}

.is-accordion-submenu-parent>a::after {
  display: none !important;
  // @include chevron-arrow-down();
  //right: 1.5rem;
}

.is-accordion-submenu-parent[aria-expanded='true']>a::after {
  display: none !important;
  //transform: scaleY(-1) translateY(50%);
}

.is-accordion-submenu-parent[aria-expanded='true'] > a .fa-chevron-down {
  transform: rotate(180deg);
  //transform: scaleY(-1) translateY(50%);
}