.series-teaser {
  border: 1px solid $primary-color;
  padding: 1rem;
  font-size: .9rem;
}

.series-archive {
  margin-top: 25px;

  h3 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1rem;
  }
}

.series-topics {
  ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }
}